
<app-home [courses]="allCourses" [titles]="titles"></app-home>

<h3 class="text-center">You have up to 3 options to choose from</h3> <br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-4 text-left">
      <button 
        class="btn btn-warning w-75 shadow-sm" (click)="clearAll()"
        [disabled]="!selectedCourses[0].length && !selectedCourses[1].length && !selectedCourses[2].length">Start Over</button>
    </div>
    <div class="col col-md-4 text-center">
      <select class="form-control d-inline w-75 border-warning shadow-sm" [(ngModel)]="discount" (change)="onChange()">
        <option value="40">40% Discount</option>
        <option value="50">50% Discount</option>
        <option value="60">60% Discount</option>
      </select>
    </div>

  </div><br>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow active" (click)="chooseOption(0)" [class.active]="index == 0">Option 1</button>
      </div><br>
         <!-- [cost] = [Total Cost of this Option Panel , Chosen Discount, Chosen Plan] -->
      <option-panel 
        [courses]="selectedCourses[0]" (click)="chooseOption(0)"
        [index]="0" [listPrice]="listPrices[0]"
        [cost]="[monthlyCost[0], monthlyCost[3], monthlyCost[4]]"></option-panel>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(1)" [class.active]="index == 1">Option 2</button>
      </div><br>
      <option-panel 
        [courses]="selectedCourses[1]" (click)="chooseOption(1)"
        [index]="1" [listPrice]="listPrices[1]"
        [cost]="[monthlyCost[1], monthlyCost[3], monthlyCost[4]]"></option-panel>
    </div>

    <div class="col-12 col-md-6 col-lg-4 mb-5">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(2)" [class.active]="index == 2">Option 3</button>
      </div><br>
      <option-panel 
        [courses]="selectedCourses[2]" (click)="chooseOption(2)"
        [index]="2" [listPrice]="listPrices[2]"
        [cost]="[monthlyCost[2], monthlyCost[3], monthlyCost[4]]"></option-panel>
    </div>

  </div>
</div>

