<h2 class="text-center">Regular Price</h2> <br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-5">
      <p>You will have up to 3 options to choose from!</p>
    </div>
    <div class="col col-md-5">
        <div ngbDropdown class="d-inline-block float-right">
          <button class="btn btn-info" id="discount" ngbDropdownToggle><i class="fas fa-percent"></i>&nbsp; Discount</button>
          <div ngbDropdownMenu aria-labelledby="discount">
            <button ngbDropdownItem>40%</button>
            <button ngbDropdownItem>50%</button>
            <button ngbDropdownItem>60%</button>
          </div>
        </div>
    </div>
  </div><br>

  <div class="row">

    <div class="col col-md-4 text">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow active">Option 1</button>
      </div><br>
      <option-panel></option-panel>
    </div>

    <div class="col col-md-4 text">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow">Option 2</button>
      </div><br>
      <option-panel></option-panel>
    </div>

    <div class="col col-md-4 text">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow">Option 3</button>
      </div><br>
      <option-panel></option-panel>
    </div>

  </div>
</div>

