<h3 class="text-center">You have up to 3 options to choose from</h3> <br>

<div class="container">
  <div class="row justify-content-center">
    <div class="col col-md-4 text-center">
      <select class="form-control d-inline w-75 border-info" [(ngModel)]="discount" (change)="onChange()">
        <option value="40">40% Discount</option>
        <option value="50">50% Discount</option>
        <option value="60">60% Discount</option>
      </select>
    </div>
  </div><br>

  <div class="row">

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow active" (click)="chooseOption(0)" [class.active]="index == 0">Option 1</button>
      </div><br>
         <!-- [totalCost] = [Total Cost of this Option Panel , Chosen Discount, Chosen Plan] -->
      <option-panel [courses]="selectedCourses[0]" [index]="0" [totalCost]="[totalCosts[0], totalCosts[3], totalCosts[4]]"></option-panel>
    </div>

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(1)" [class.active]="index == 1">Option 2</button>
      </div><br>
      <option-panel [courses]="selectedCourses[1]" [index]="1" [totalCost]="[totalCosts[1], totalCosts[3], totalCosts[4]]"></option-panel>
    </div>

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(2)" [class.active]="index == 2">Option 3</button>
      </div><br>
      <option-panel [courses]="selectedCourses[2]" [index]="2" [totalCost]="[totalCosts[2], totalCosts[3], totalCosts[4]]"></option-panel>
    </div>

  </div>
</div>

