<app-home [courses]="allCourses" [titles]="titles"></app-home>

<h2 class="text-center">Special Offer | <span class="text-info">{{ currentMonth | date:'MMMM y' }}</span></h2>
<br>
<h4 class="text-center">Add a Course For <span class="text-info">$50</span> Only!</h4><br>
<div class="container">

  <div class="row">

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow active" (click)="chooseOption(0)" [class.active]="index == 0">Option 1</button>
      </div><br>
         <!-- [cost] = [Total Cost of this Option Panel , Chosen Plan] -->
      <special-panel 
        [courses]="selectedCourses[0]" (click)="chooseOption(0)"
        [index]="0" [listPrice]="listPrices[0]"
        [cost]="[monthlyCost[0], monthlyCost[3]]"></special-panel>
    </div>

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(1)" [class.active]="index == 1">Option 2</button>
      </div><br>
      <special-panel 
        [courses]="selectedCourses[1]" (click)="chooseOption(1)"
        [index]="1" [listPrice]="listPrices[1]"
        [cost]="[monthlyCost[1], monthlyCost[3]]"></special-panel>
    </div>

    <div class="col col-md-4">
      <div class="text-center w-100">
        <button class="btn btn-info w-75 shadow" (click)="chooseOption(2)" [class.active]="index == 2">Option 3</button>
      </div><br>
      <special-panel 
        [courses]="selectedCourses[2]" (click)="chooseOption(2)"
        [index]="2" [listPrice]="listPrices[2]"
        [cost]="[monthlyCost[2], monthlyCost[3]]"></special-panel>
    </div>

  </div>
</div>