<div class="card" [ngClass]="{'shadow-lg bg-color': optionIndex == activeOptionIndex}">
  <div class="card-body">
    <ul class="list-group list-group-flush">

      <li class="list-group-item pl-0 pr-0 d-flex" *ngFor="let course of courses; index as x">
        <div class="col-6 p-0">
          {{ course.name }}
        </div>
        <div class="col-4 p-0" *ngIf="x % 2 == 0; else offerPrice">
          {{ course.price | currency}}
        </div>
        <ng-template #offerPrice>
          <div class="col-4 p-0">
            $50.00
          </div>
        </ng-template>
        <div class="col-2 p-0 text-right">
          <a (click)="deleteCourse(course)" style="cursor: pointer"><i class="fas fa-trash-alt text-danger"></i></a>
        </div>
      </li>

    </ul>
    <br><br>
    <div class="text-center">
      <h3 class="text-info text-center font-weight-bold">{{ cost[0] / cost[1] | currency }}</h3>
      <p class="card-text text-secondary" style="font-size: 1.3rem">Per month for <span class="text-info font-weight-bold">{{ cost[1] }}</span> months</p>
    </div>
    <br>

    <p class="mb-1 text-info">List Price: <strong>{{ listPrice | currency }}</strong></p>
    <p class="mb-1 text-info">Total Cost <small>(Special Sale)</small>: <strong>{{ cost[0] | currency }}</strong></p>
    <p class="mb-1 text-info">Total Savings: <strong> {{ listPrice - cost[0] | currency }}</strong></p>
    <p class="mb-1 text-info">Pay in Full Price: <strong>{{cost[0] - (cost[0] * (5 / 100 )) | currency }}</strong></p>

    <br><a class="btn btn-danger text-white" (click)="clearOption(optionIndex)">Clear</a>
  </div>
</div>