<div class="card" [ngClass]="{'shadow-lg bg-color': optionIndex == activeOptionIndex}">
  <div class="card-body">
    <ul class="list-group list-group-flush">

      <li class="list-group-item pl-0 pr-0 d-flex" *ngFor="let course of courses">
        <div class="col-5 p-0">
          {{ course.name }}
        </div>
        <div class="col-5 p-0">
          <s>{{ course.planPrice | currency }}</s> {{ course.discountPrice | currency}}
        </div>
        <div class="col-2 p-0 text-right">
          <a (click)="deleteCourse(course)"><i class="fas fa-trash-alt text-danger"></i></a>
        </div>
      </li>

    </ul>
    <br><br>
    <div class="text-center">
      <h3 class="text-info text-center font-weight-bold">{{ totalCost[0] | currency }}</h3>
      <p class="card-text text-secondary" style="font-size: 1.3rem">Per month for {{ totalCost[2] }} months</p>
    </div>
    <br>

    <p class="mb-1 text-info">List Price: <strong>$0</strong></p>
    <p class="mb-1 text-info">Total Cost ({{ totalCost[1]}}%): <strong>{{ totalCost[0] | currency }}</strong></p>
    <p class="mb-1 text-info">Total Savings: <strong>$0</strong></p>
    <p class="mb-1 text-info">Pay in Full Price: <strong>$0</strong></p>

    <br><a class="btn btn-danger text-white" (click)="clearOption(optionIndex)">Clear</a>
  </div>
</div>