::ng-deep .card {
  border-color: #17a2b8;
}
::ng-deep .card .card-header {
  background-color: #17a2b8;
  border-color: #fff;
  margin-bottom: 0px !important;
  padding: 0px;
  padding-left: 10px;
}
::ng-deep .card .card-header button {
  color: #fff;
  text-decoration: none;
  width: 100%;
  text-align: left;
  font-size: 1.5rem;
}
button:hover {
  background-color: #fff;
  color: #17a2b8;
}